/* theme color: rgb(83, 83, 216) || #5353d8 */

body {
	font-family: Verdana, sans-serif;
	/* background by SVGBackgrounds.com */
	background-color: #c2c2c2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='712' height='712' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%232d2d74' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2336368d' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%232d2d74' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2336368d' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%234040a6' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%233a3a97' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%234747b8' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%235353d8' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%234747b8' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%233a3a97' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%235353d8' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%233a3a97' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%235353d8' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%234747b8' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%235353d8' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

*:focus {
	outline: none;
}

.hidden {
	display: none;
}

.loading {
	text-align: center;
	color: gray;
	padding: 10px;
}

/* Adjusting button styling on both button divs/elements */
#submit_button, #nextButton {
	padding: 10px;
}
#submit_button:active, #nextButton:active {
	transform: scale(0.9);
}

#content {
	background: white;
	width: 70%;
	min-height: 70%;
	position: absolute;
	border-radius: 30px;
	box-shadow: 0px 8px 8px 0px #464444;
	left: 50%;
	top: 15%;
	transform: translateX(-50%);
	margin-bottom: 5%;
}

#message {
	resize: none;
}

.desktopNav ul li {
	float: right;
	padding-right: 50px;
}

.desktopNav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 10px 10px 0;
}

.desktopNav {
	height: 75px;
	height: 10%;
}

#mainNav li:first-child {
	float: left;
	padding-top: 1%;
	padding-left: 1%;
}

.desktopNav li {
	display: inline;
	font-size: 0.8em;
}

.desktopNav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 15px 0;
	text-decoration: none;
	width: 110%;
	font-size: 1.2em;
	height: 50%;
}

.desktopNav a {
	border-color: rgba(255, 255, 255, 0)
}

.active {
	color: rgb(54, 54, 201);
}

.desktopNav li a:hover {
	border-bottom: 0.1px solid currentColor;
}

#rNav li:first-child {
	float: right;
}

#responsiveNav {
	height: 10vh;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: none;
}

.nav-links {
	display: flex;
	list-style: none;
	width: 50%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

#rContainer {
	/* display will be set to block once loaded */
	display: none;
	margin-top: 0;
	padding-top: 0;
	width: 50%;
	float: left;
	text-align: center;
}

.slideB ul li {
	list-style-type: none;
	position: inline-block;
	padding-top: 0;
	font-size: 1.01em;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.slideB {
	font-family: 'Roboto', sans-serif;
}

.slideB ul {
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	column-count: 2;
	column-gap: 30px;
}

#tech {
	display: none;
	/* Make image unselectable */
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
	pointer-events: none;
}

#busTwo, #busThree {
	display: none;
}

.titles {
	text-align: center;
	font-size: 2em;
	cursor: pointer;
	user-select: none;
	background-image: linear-gradient(to left, rgb(186, 186, 229), rgb(50, 50, 223));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: blue;
	margin-bottom: 2%;
}

.prev, .next {
	cursor: pointer;
	display: inline-block;
	width: auto;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	vertical-align: middle;
}

.prev:hover, .next:hover {
	color: rgba(0, 0, 0, 0.8);
}

.next {
	position: inline-block;
	top: 16%;
	left: 29.8%;
	width: 1.5%;
}

.prev {
	position: inline-block;
	top: 16%;
	left: 19%;
	width: 1.5%;
}

#rRight {
	float: right;
	width: 50%;
}

#nbMap {
	max-width: 80%;
	padding-left: 10%;
	padding-top: 10%;
}

#iForm {
	margin-top: 0;
	padding-top: 0;
	width: 50%;
	text-align: center;
	font-family: 'Courier', Verdana;
	float: left;
}

.input {
	border-radius: 10px;
	height: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: none;
	box-shadow: 3px 2px 5px 5px #ece6e6;
}

#message {
	height: 100px;
}

.row {
	padding-bottom: 4%;
}

#instructions {
	color: rgb(83, 83, 216);
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	padding: 8px;
}

#submit_button {
	display: none; /* Will be removed once user signs in with school account */
	margin: 15px;
	border-radius: 10px;
	border: none;
	background-image: linear-gradient(to left, rgb(107, 107, 202), rgb(83, 83, 216));
	min-width: 15%;
	color: white;
	box-shadow: 3px 3px 0px 0px #f1ecec;
	width: auto;
}

#submit_button:hover {
	background-image: linear-gradient(to left, rgb(107, 107, 202), rgb(65, 65, 211));
}

#sTitle {
	background-image: linear-gradient(to left, rgb(107, 107, 202), rgb(83, 83, 216));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Verdana, sans-serif;
}

#raider {
	max-width: 50%;
	margin: 50px auto;
	padding-top: 10%;
	padding-left: 20%;
}

#iRight {
	float: right;
	position: inline-block;
	width: 50%;
}

#clubList {
	font-size: 20px;
	text-align: left;
	margin-left: 55%;
	transform: translateX(-50%);
	padding-top: 8%;
	padding-bottom: 8%;
}

#nextButton {
	color: white;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	width: 5em;
	border-radius: 10px;
	background-image: linear-gradient(to left, rgb(107, 107, 202), rgb(83, 83, 216));
	box-shadow: 1px 2px 2px 0px #7a7777;
	margin-bottom: 3%;
	margin-top: 3%;
	cursor: pointer;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#nextButton:hover {
	box-shadow: 1.5px 2.5px 2px 0px #686666;
}

#SignInR {
	display: none;
}

.signOut {
	cursor:pointer;
	width:100px;
	height:25px;
	box-shadow: 0.5px 0.5px 2px 1px #888888;
	text-align:center;
	border-radius:10px;
	border-color:red;
	color:gray;
	padding-top:10%;
	background-color:white;
	display:none;	
}
#signOut:hover {
	box-shadow: 1px 1.5px 2.5px 1.5px #5f7fca;

}
#signOutIco {
	width:13%;
}



@media only screen and (max-width: 768px) {
	body {
		font-size: 75%;
	}
	.desktopNav {
		display: none;
	}
	.signOut {
		margin-top: 5%;
		position: absolute;
		display: block;
		z-index: 1;
		padding-top:2%;
		display:none;
	}

	#SignInR {
		margin-top: 5%;
		position: absolute;
		display: block;
		z-index: 1;
	}

	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
		border-color: rgb(107, 107, 202);
		border: solid;
		border-radius: 5px;
		border-width: 0.5px;
	}
	#responsiveNav {
		position: relative;
		display: flex;
	}
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}
	.nav-links {
		position: fixed;
		padding: 0;
		left: 0;
		top: 0;
		margin: 0;
		z-index: 1;
		background: rgba(49, 137, 255, 1);
		flex-direction: column;
		height: 100%;
		width: 100%;
		-webkit-overflow-scrolling: touch;
		clip-path: circle(0px at 88% 7%);
		-webkit-clip-path: circle(0px at 88% 7%);
		pointer-events: none;
	}
	.nav-links.open {
		clip-path: circle(1000px at 88% 7%);
		-webkit-clip-path: circle(1000px at 88% 7%);
		pointer-events: all;
	}
	.prev, .next {
		display: none;
	}
	#iRight {
		display: none;
	}
	#iForm {
		float: none;
		width: 100%;
		top: 10%;
	}
	.titles {
		padding-top: 5%;
	}
	#navTitle {
		display: none;
	}
	#tech {
		width: 18%;
		position: absolute;
		left: 3%;
		top: 3%;
		display: block;
	}
	#submit_button {
		border: solid;
		border-width: 0.5px;
		border-color: black;
	}
	.input {
		border: solid;
		border-width: 0.5px;
		border-color: black;
	}
	#sTitle {
		padding-top: 3%;
	}
	#nbMap {
		display: none;
	}
	#rContainer {
		/* display will be set to block once loaded */
		display: none; 
		width: 100%;
	}
	.slideB ul {
		-moz-column-count: 1;
		-moz-column-gap: 30px;
		-webkit-column-count: 1;
		-webkit-column-gap: 30px;
		column-count: 0;
		column-gap: 30px;
	}
	.routes {
		padding-left: 8%;
	}
	#content {
		width: 80%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 15%;
	}
	.slideB ul li {
		padding-top: 5%;
	}
}
